/**
 * Reset some basic elements
 */
h1, h2, h3, h4, h5, h6,
blockquote, pre, hr,
 dl, dd, ol, ul, figure {
     margin: 0;
     padding: 0;
 }
 
 html, body{
  margin: 0;
  height: 100%;
}

#__next{
  height: 100%;
  margin: 0;
}

#main{
  margin: 0;
  height: 100%;
  flex-direction: column;
  text-align: center;
  font-family: Georgia, serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding-top: 25px;
  padding-bottom: 25px;
}

.snipcart-checkout:hover{
  color: #3F51B5;
  text-decoration: underline;
}

.snipcart-add-item{
  background-color: #3F51B5;
  font-size: 18px;
  color: white;
  border: 0px;
  border-radius: 3%;
}

.snipcart-add-item:hover{
  box-shadow: 0px 3px 5px #888888;
}

.snipcart-add-item:active{
  box-shadow: 0 0 0 0;
}

.product-description{
  width: 400px;
  padding: 25px;
  margin: 25px;
  background-color: #CFD8DC;
  font-size: 20px;
}

.product-details, .product-reviews{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.products{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
  margin-top: 25px;
}

.product:hover{
  background-color: #CFD8DC;
}
